{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">FrequenceRealisation creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="champsfiche">
        <li>
            <a href="{{ path('frequencerealisation_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
