<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Site de recherche pour le CHU de Rouen{% endblock %}</title>
    {% stylesheets  '@MoteurRechercheBundle/Resources/public/css/bootstrap.css''@MoteurRechercheBundle/Resources/public/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<body>
<div id="mainContainer">

        {% image '@MoteurRechercheBundle/Resources/public/images/logo.png' %}
    <img id="logoCHU" src="{{ asset_url }}" alt="Example" height="100" width="100%" />
    {% endimage %}

<div id="clavier" class="btn-group " >
    <input class="btn btn-primary" type="button"value="A">
    <input class="btn btn-primary" type="button"value="B">
    <input class="btn btn-primary" type="button"value="C">
    <input class="btn btn-primary" type="button"value="D">
    <input class="btn btn-primary" type="button"value="E">
    <input class="btn btn-primary" type="button"value="F">
    <input class="btn btn-primary" type="button"value="G">
    <input class="btn btn-primary" type="button"value="H">
    <input class="btn btn-primary" type="button"value="I">
    <input class="btn btn-primary" type="button"value="J">
    <input class="btn btn-primary" type="button"value="K">
    <input class="btn btn-primary" type="button"value="L">
    <input class="btn btn-primary" type="button"value="M">
    <input class="btn btn-primary" type="button"value="N">
    <input class="btn btn-primary" type="button"value="O">
    <input class="btn btn-primary" type="button"value="P">
    <input class="btn btn-primary" type="button"value="Q">
    <input class="btn btn-primary" type="button"value="R">
    <input class="btn btn-primary" type="button"value="S">
    <input class="btn btn-primary" type="button"value="T">
    <input class="btn btn-primary" type="button"value="U">
    <input class="btn btn-primary" type="button"value="V">
    <input class="btn btn-primary" type="button"value="W">
    <input class="btn btn-primary" type="button"value="X">
    <input class="btn btn-primary" type="button"value="Y">
    <input class="btn btn-primary" type="button"value="Z">
    <input class="btn btn-warning" type="button"value="0">
    <input class="btn btn-warning" type="button"value="1">
    <input class="btn btn-warning" type="button"value="2">
    <input class="btn btn-warning" type="button"value="3">
    <input class="btn btn-warning" type="button"value="4">
    <input class="btn btn-warning" type="button"value="5">
    <input class="btn btn-warning" type="button"value="6">
    <input class="btn btn-warning" type="button"value="7">
    <input class="btn btn-warning" type="button"value="8">
    <input class="btn btn-warning" type="button"value="9">
</div>

<div id="zoneRecherche">
    <form  class="form-horizontal" action="{{ path('RechercheAction')}}" method="POST">
        <input class="form-control" id="zoneLibre"type="text" name="recherche" placeholder="Recherche...">

        <select id="selectLabo" class="form-control">
            <option value="defaut">Laboratoire</option>
            <option value="a">Type a</option>
            <option value="b">Type b</option>
            <option value="c">Type c</option>
        </select>
        <select id="selectMicroOrg" class="form-control">
            <option value="defaut">Micro Organisme</option>
            <option value="b">Type b</option>
            <option value="c">Type c</option>
        </select>
        <br />
        <input type="submit" class="btn btn-primary" value="Rechercher">
        <button class="btn btn-info" name="recherche" onclick="RAZvalue()">RAZ</button>
    </form> 
</div>

{% block body %}
{% endblock %}

</div>
</body>
<footer id="foot">
    <a href="javascript:window.print()">
        {% image '@MoteurRechercheBundle/Resources/public/images/imprimer.png' %}
        <img src="{{ asset_url }}" alt="Imprimer" width="36" />
        {% endimage %}
    </a>
</footer>
</html>
