<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8" />
        <title>{% block title %}Site de recherche pour le CHU de Rouen{% endblock %}</title>


{% block stylesheets %}
    <link href="{{ asset('MoteurRechercheBundle/Resources/public/css/style.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
     <!--  <link href="{{ asset('bundles/acmedemo/css/contact.css') }}" type="script/javascript"  /> -->

</head>
<body>
<div id="content">
    <img id="banner" src="{{ asset('MoteurRechercheBundle/Resources/public/images/logo.png') }}" height="100" width="100%" alt="Banner">
<div id="alpha">
    <input class="bouton" type="button"value="A">
    <input class="bouton" type="button"value="B">
    <input class="bouton" type="button"value="C">
    <input class="bouton" type="button"value="D">
    <input class="bouton" type="button"value="E">
    <input class="bouton" type="button"value="F">
    <input class="bouton" type="button"value="G">
    <input class="bouton" type="button"value="H">
    <input class="bouton" type="button"value="I">
    <input class="bouton" type="button"value="J">
    <input class="bouton" type="button"value="K">
    <input class="bouton" type="button"value="L">
    <input class="bouton" type="button"value="M">
    <input class="bouton" type="button"value="N">
    <input class="bouton" type="button"value="O">
    <input class="bouton" type="button"value="P">
    <input class="bouton" type="button"value="Q">
    <input class="bouton" type="button"value="R">
    <input class="bouton" type="button"value="S">
    <input class="bouton" type="button"value="T">
    <input class="bouton" type="button"value="U">
    <input class="bouton" type="button"value="V">
    <input class="bouton" type="button"value="W">
    <input class="bouton" type="button"value="X">
    <input class="bouton" type="button"value="Y">
    <input class="bouton" type="button"value="Z">
    <input class="bouton" type="button"value="0..9">
</div>
<div id="search_bar">
    <form action="{{ path('RechercheAction') }}" method="POST" >
        <input id="btnRecherche" type="text" name="recherche" placeholder="Recherche...">
        <input type="submit" class="boutonval" value="Rechercher">
    </form>

    <button class="boutonval" name="recherche" onclick="RAZvalue()">RAZ</button>
</div>
<div id="recherche_list">
    <select id="selectLabo">
	<option value="defaut">Laboratoire</option>
        <option value="a">Type a</option>
        <option value="b">Type b</option>
        <option value="c">Type c</option>
    </select>
    <select id="selectMicroOrg">
        <option value="defaut">Micro Organisme</option>
        <option value="b">Type b</option>
        <option value="c">Type c</option>
    </select>
    <input class="boutonval" type="button" value="Rechercher">
</div>
</div>
<div id="resultat">
</div>
{% block body %}
{% endblock %}
</body>
<footer id="foot">
    <a href="javascript:window.print()"><img src="public/images/imprimer.png" alt="Imprimer" width="36"></a>
</footer>
</html>
