{% extends 'layout.html.twig' %}

{% block body %}

   <h2><center>Hello Durty</center></h2>
	<br/><br/>
   
    <p><a href="{{ path('moteur_recherche_administration_analyse') }}">Gestion des analyses</a></p>

  
{% endblock %}