{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Créer Tube</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul class="champsfiche">
        <li>
            <a href="{{ path('tube_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
