
{% block body %}

    <style>

        hr{
            color: black;
            background-color: black;
            height: 1px;
        }

        #partieSup
        {
            margin-top:-25px;
            margin-left:-4px;
        }

        #partiesupGauche, #partiesupDroite{
            display:inline-block;
            height:500px;
            width:48%;
            vertical-align:top
        }

        #partiesupDroite{
            margin-top:20px;
        }

        #divNomAnalyse{
            background-color: #e4ecd6;
            height:35px;
            line-height: 35px;
        }

        #pNomAnalyse{
            font-size:18px;
            font-weight: bold;
        }

        #divNatureAnalyse{
            height:2px;
            line-height:2px;
        }

        #pNatureAnalyse{
            font-size:16px;
            color:#6f8b99;
        }

        .champ{
            color:#b7bed1;
            font-size:14px;
            display: inline-block;
            vertical-align: top;
            margin-left:8px;
        }

        .value{
            font-size:14px;
            display: inline-block;
            vertical-align: top;
            margin-left:3px;
        }

    </style>

    <hr />
    <div id="partieSup">
        <div id="partieSupGauche">
            <div id="divNomAnalyse"><p id="pNomAnalyse">{{ analyse.nomAnalyse }}</p></div>
            <div id="divNatureAnalyse"><p id="pNatureAnalyse">Recherche des anti-envoplakine</p></div>
        </div>
        <div id="partieSupDroite">
            <p class="champ">Cotation : </p><p class="value">B</p>
            <p class="champ">Fiche : </p><p class="value">Immuno blablablabla</p>
        </div>
    </div>


{% endblock %}
