{% extends '::index.html.twig' %}

{% block body %}
<div id="zoneResultat">
        {% for entity in resultat %}
                <div class="resultat">
                    <div class="titreResultat">
                <a href="{{ path ('ouvrir_analyse_simple', { 'id': entity.id }) }}" target="_blank" > {{ entity.nomAnalyse }} </a>
                    </div>
                    <div class="descriptionResultat">
                {{ entity.natureAnalyse }}
                    </div>
                </div>
        {% endfor %}
</div>

{% endblock %}