{# {% extends '::index.html.twig' %} #}

{% block body %}
<div id="zoneResultat">


        {% if resultat is defined %}
            <p> {{ resultat|length }} résultat(s) ont été trouvé(s) pour votre recherche </p>
            {% for entity in resultat %}
                    <div class="resultat">
                        <div class="titreResultat">
                    <a onclick="ouvre('{{ path ('ouvrir_analyse_simple', { 'id': entity.id }) }}')" target="_blank" > {{ entity.nomAnalyse }} </a>
                        </div>
                        <div class="descriptionResultat">
                    {{ entity.natureAnalyse }}
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
</div>

{% endblock %}