{% extends '::index.html.twig' %}

{% block body %}
<div id="esp" style="background-color: white">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Analyse</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in resultat %}
            <tr>
                <td> <a href="{{ path ('ouvrir_analyse_simple', { 'id': entity.id }) }}" target="_blank" > {{ entity.nomAnalyse }} </a></td>
                <td>{{ entity.natureAnalyse }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>

{% endblock %}