body {
background-image:
    linear-gradient(
      to right, 
      #d9edf7,
      white 12.5%,
      white 87.5%,
      #d9edf7 96%
    );
}

#mainContainer
{
    width:70%;
    margin:auto;
    background-color: white;
}

#clavier{
    margin-top: 50px;
    margin-left:12.5%;
    text-align: center;
    border-radius: 30%;
    width: 700px;
}
#clavier .btn{
    border-radius: 15%;
    width: 35px;
    margin:10px;
    text-align:center;
    font-size:12px;
}
#zoneRecherche{
    margin-top: 25px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#zoneRecherche select{
    display: inline-block;
    width:150px;
    margin:10px;
}

#zoneRecherche .btn{
    width:100px;
    margin:5px;
}

#zoneResultat{
    margin-top:50px;
}

.resultat{
    margin-bottom:15px;
}

.titreResultat{
    font-size: 16px;
}

.descriptionResultat{
    font-size: 14px;
}

#foot{
    margin-top: 30%;
    text-align: center;
}
#banner{
    text-align: center;
}
#resultat{
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border-color: darkgoldenrod;
    border: double 3px;
    text-align: center;
}

