body {
background-image:
    linear-gradient(
      to right, 
      #d9edf7,
      white 12.5%,
      white 87.5%,
      #d9edf7 96%
    );
}

#mainContainer
{
    width:70%;
    margin:auto;
    background-color: white;
}

#containerRecherche{
    width:100%;
}

#clavier{
    width: 65%;
    min-width:50%;
    margin: 0 auto;
    margin-top:5%;
}
#clavier .btn-primary{
    border-radius: 5px;
    width: 35px;
    margin:1%;
    text-align:center;
    font-size:12px;
}

#bouttonChiffre{
    border-radius: 10px;
    width: 50px;
    margin:1%;
    text-align:center;
    font-size:12px; 
}

#zoneRecherche{
    text-align: center;
    width: 50%;
    min-width:50%;
    margin:0 auto;
    margin-top: 3%;
}

#zoneLibre{
    min-width: 150px;
}

#zoneRecherche select{
    display: inline-block;
    word-spacing: normal;
    width:150px;
    margin:2%;
}

#zoneRecherche .btn{
    width:100px;
    margin:9px;
}

#zoneResultat{
    margin-top:5%;
}

#zoneResultat a:hover{
    cursor: pointer;
}

.resultat{
    margin-bottom:15px;
}

.titreResultat{
    font-weight: bold;
    font-size: 16px;
}

.descriptionResultat{
    font-size: 14px;
}

#foot{
    margin-top: 30%;
    text-align: center;
}
#banner{
    text-align: center;
}
#fiche{
    margin-left: 15%;
    margin-top: 100px;
}
#fiole{
    width: 50%;
}