body {
background-image:
    linear-gradient(
      to right, 
      #70cccf,
      white 12.5%,
      white 87.5%,
      #70cccf 96%
    );
}

#mainContainer
{
    width:70%;
    margin:auto;
    background-color: white;
}

#containerRecherche{
    width:100%;
}

#clavier{
    width: 65%;
    min-width:50%;
    margin: 0 auto;
    margin-top:5%;
}
#clavier .btn-primary{
    border-radius: 5px;
    width: 35px;
    margin:1%;
    text-align:center;
    font-size:12px;
}

#bouttonChiffre{
    border-radius: 10px;
    width: 50px;
    margin:1%;
    text-align:center;
    font-size:12px; 
}

#zoneRecherche{
    text-align: center;
    width: 50%;
    min-width:50%;
    margin:0 auto;
    margin-top: 3%;
}

#zoneLibre{
    min-width: 150px;
}

#zoneRecherche select{
    display: inline-block;
    word-spacing: normal;
    width:150px;
    margin:2%;
}

#zoneRecherche .btn{
    width:100px;
    margin:9px;
}

#zoneResultat{
    margin-top:5%;
}

#zoneResultat a:hover{
    cursor: pointer;
}

.resultat{
    margin-bottom:15px;
}

.titreResultat{
    font-weight: bold;
    font-size: 16px;
}

.descriptionResultat{
    font-size: 14px;
}

#foot{
    margin-top: 30%;
    text-align: center;
}
#banner{
    width:100%;
}
#fiche{
    margin-left: 15%;
}
#fiole{
    height: 250px;
    width: 170px;
}
.enligne{
    display: inline-block;
}
#champsfiche{
    margin-left: 15%;
    font-size: large;
}
#champsfiche2{
    margin-left: 15%;
    font-size: large;
    height: 100px;
    width: 45%;
}
#bouton_d{
    margin-left: 15%;
}
#champsresul{
    font-size: large;
    margin-left: 15%;
}
#map_div{
    width: 400px;
    height: 300px;
    margin-left: 15%;
}
div#cadrefiole {
    float: right;
    margin-right: 23%;
    width:100px;
    height:200px;
}
#carte{
    width:75%;
    margin-left: 12.5%;
    text-align: center;
    margin-bottom: 5%;
}

#zonePresentation {
    //width:80%;
    margin:0;
}

#zonePresentation h4{
    color : #337ab7;
    text-decoration: strong;
}

#zonePresentation p, li{
    text-align:justify;
}